<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>

    <form action="{% url 'show' %}" method="POST">
        {% csrf_token %}
        {{forms.as_p}}
        <input type="submit" value="show">
    </form>

    <!-- {% if forms %}
    <table>
        <thead>
            <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Telephone</th>
            <th>Email</th>
            </tr>
        </thead>
        {% for p in persons %}
        <tbody>
            <tr>
                <td>{{ p.firsname }}</td>

            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% endif%}
     -->
    


</body>
</html>